<%- include("partials/header.ejs") %>

<main class="flex-fill">
    <div class="px-4 py-4 my-4 text-center about"> 
        <h1 class="display-5 mb-5">For the Unspoken</h1> 
        <div class="col-lg-6 mx-auto py-3 about-text"> 
            <p class="mb-3">Not everything belongs on loud platforms.<br>Some things deserve softness.</p>
            <p>AfterHours is a simple space to write, share, and breathe; <br>without judgment, without noise, without filters.</p>
        </div> 
    </div>
</main>

<%- include("partials/footer.ejs") %>
