<%- include("partials/header.ejs") %>

<main>
    <h1>About AfterHours 🌙</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel aliquam diam, nec 
        feugiat nisi. Quisque vulputate pretium molestie. Vestibulum ante ipsum primis in 
        faucibus orci luctus et ultrices posuere cubilia curae; Donec luctus purus eget 
        dictum vestibulum. Quisque pretium dui eget leo eleifend, nec hendrerit dui euismod.
        Nullam et congue risus. Donec fermentum maximus nulla, at ullamcorper lectus dapibus sed.
    </p>
</main>

<%- include("partials/footer.ejs") %>
