<%- include("partials/header.ejs") %>

<main>
    <h1>Any thoughts tonight?</h1>
    <p>Pour them out and let the world know what's on your mind 💫</p>

    <form action="/submit" method="post">
        <input type="text" name="topic" placeholder="Topic" required>
        <textarea name="content" placeholder="Your thought..." required></textarea>
        <input type="submit" value="Post">
    </form>
</main>

<%- include("partials/footer.ejs") %>