body {
    background-image: linear-gradient(to bottom, #0e0828, #12102f, #181537, #1e1a3f, #241f47, #262049, #28224c, #2a234e, #28214b, #261f49, #251e46, #231c44);
    color: #fff;
    font-family: "Playfair", serif;
}

.navbar {
    font-size: 20px;
}

/* Home  */
.hero, .about {
    font-family: "Luxurious Roman", serif;
}

h1 {
    font-size: 3.5rem;
}

.hero > div > p {
    font-size: 18px;
}

.card {
    max-height: 300px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.6);
}

/* ABOUT */
.about-text {
    font-size: 20px;
}

.about > h1 {
    font-size: 4rem;
}

.form-control::placeholder {
    color: #fff;
    opacity: 0.7;
}

.form-control {
    height: 60px;
}

.post-button {
    width: 100px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.post-button:hover {
    background-color: #000;
    color: #fff;
}